@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ybwz5b');
  src:  url('../fonts/icomoon.eot?ybwz5b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ybwz5b') format('truetype'),
    url('../fonts/icomoon.woff?ybwz5b') format('woff'),
    url('../fonts/icomoon.svg?ybwz5b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-type:before {
  content: "\e900";
  color: #6495fe;
}
.icon-ic-squareFeet:before {
  content: "\e901";
  color: #6495fe;
}
.icon-ic-price:before {
  content: "\e902";
  color: #6495fe;
}
.icon-ic-parking:before {
  content: "\e903";
  color: #6495fe;
}
.icon-ic-for:before {
  content: "\e904";
  color: #6495fe;
}
.icon-ic-Distance-ToThe-Beach:before {
  content: "\e905";
  color: #6495fe;
}
.icon-ic-Distance-To-The-Center:before {
  content: "\e906";
  color: #6495fe;
}
.icon-ic-Distance-To-The-Airport:before {
  content: "\e907";
  color: #6495fe;
}
.icon-ic-country:before {
  content: "\e908";
  color: #6495fe;
}
.icon-ic-Comforts:before {
  content: "\e909";
  color: #6495fe;
}
.icon-ic-city:before {
  content: "\e90a";
  color: #6495fe;
}
.icon-ic-beds:before {
  content: "\e90b";
  color: #6495fe;
}
.icon-ic-bath:before {
  content: "\e90c";
  color: #6495fe;
}
.icon-ic-area:before {
  content: "\e90d";
  color: #6495fe;
}
