/*start filtering*/
.filtering-section .hero__form.v1 {
    padding: 20px 10px;
}

.filtering-section .hero__form.v1 > .container {
    padding: 10px 15px;
}

.filtering-section .hero__form.v1 .row.row-sty {
    background-color: #EFF0F3;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin: 0;
}

.hero__form .select2 .selection .select2-selection .select2-selection__rendered {
    padding: 3px 20px !important;
    color: #99A7C4 !important;
}

.hero__form .select2 .selection .select2-selection .select2-selection__rendered:after {
    top: 5px !important;
}

.filtering-section .hero__form.v1 .row.row-sty:first-child {
    padding-top: 10px;
}

.filtering-section .hero__form.v1 .row.row-sty:last-child {
    padding-bottom: 10px;
}

.filtering-section .filter-el,
.filtering-section .input-el {
    padding: 0 10px;
}

.filtering-section .filter-el {
    margin: 15px 0;
}

.filtering-section .input-el {
    margin: 15px 0 10px;
}

.filtering-section .listing-filter input {
    background-color: #fff;
    height: 35px;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 0 !important;
}

.filtering-section .listing-filter input::placeholder {
    color: #99A7C4;
    line-height: 30px;
}

.filtering-section .input-search:before {
    font-size: 15px;
    top: 7px;
}

.filtering-section .submit_btn,
.filtering-section .submit_btn button.btn.v3 {
    width: 100%;
}

.filtering-section .submit_btn button.btn.v3 {
    height: 35px;
    background-color: #6495FE;
    padding: 8px 35px;
}

.filtering-section .submit_btn button.btn.v3:hover {
    background: #fff !important;
    color: #6495FE !important;
    border: 1px solid #6495FE;
}

.filtering-section .dropdown-filter {
    padding: 0 10px;
}
/*end filtering*/



/*start of media queries*************/
@media screen and (max-width: 1199px) {
    .hero__form.v1 .explore__form-checkbox-list.full-filter {
        top: 145px;
        padding: 15px 30px 0;
    }

    .hero__form.v1 .explore__form-checkbox-list.full-filter .row > div {
        margin: 3px 0;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .hero__form.v1.filter.listing-filter {
        padding: 30px 0 5px;
    }

    .filtering-section .filter-el,
    .filtering-section .input-el {
        padding: 0 15px;
    }

    .hero__form .select2 .selection .select2-selection .select2-selection__rendered,
    .filtering-section .listing-filter input {
        font-size: 12px;
    }

    .filtering-section .select2-container--default .select2-selection--single .select2-selection__rendered:after {
        font-size: 7px;
    }
}

@media screen and (max-width: 767px) {
    .hero__form.v1.filter.listing-filter {
        padding: 10px 32px 5px;
    }

    .filtering-section .input-box {
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }

    .hero__form.v1 .explore__form-checkbox-list.full-filter {
        top: 235px;
        padding: 5px 32px 15px;
    }

    .hero__form.v1 .explore__form-checkbox-list.full-filter .row > div {
        margin: 10px 0;
    }

    .hero__form .hero__form-input {

        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .filtering-section,
    .filtering-section .hero__form.v1 > .container {
        padding: 0;
    }

    .filtering-section {
        background-color: #EFF0F3;
    }

    .hero__form.v1.filter.listing-filter {
        padding: 0;
    }

    .hero__form.v1 .explore__form-checkbox-list.full-filter {
        padding: 10px;
    }

    .filtering-section .hero__form.v1 .row.row-sty {
        padding-right: 5px;
        padding-left: 5px;
    }
}
/*end of media queries*************/