/*global ltr font style*/
body, p, h1, h2, h3, h4, h5, ::placeholder, label, a {
    font-family: 'Mukta', sans-serif !important;
}
/*global ltr font style*/


/*start global styles******/
/*Breadcrumb section*/
.breadcrumb-menu span::before {
    right: -6px;
    left: auto;
}

.breadcrumb-menu span:first-of-type,
.breadcrumb-menu span:first-of-type a {
    padding-left: 0;
}

.breadcrumb-menu span:last-of-type {
    padding-right: 0;
}
/*Breadcrumb section*/


/*start select2*/
.select2 .selection .select2-selection .select2-selection__rendered:after {
    right: 20px;
}

.select2-dropdown.filtering-select2 .select2-results__option {
    text-align: left !important;
    padding-left: 20px;
}
/*end select2*/


/*single property box*/
.single-property-box .property-location i {
    margin-right: 5px;
    margin-left: 0;
}

.single-property-box .feature_text {
    left: 10px;
}

.single-property-box .trend-left span:first-child {
    margin-left: 0;
}

.single-property-box .property-card-icons,
.single-blog-item .single-blog-icons {
    right: 15px;
    left: auto;
}

.single-property-box .property-author img {
    margin-left: 15px;
    margin-right: 10px;
}
/*single property box*/


/*start news block*/
.single-blog-item.v1 .news-date {
    right: 50px;
    left: auto;
}
/*end news block*/


/*start scroll to top*/
.scrolltotop {
   left: auto;
    right: 30px;
}
/*end scroll to top*/


/*login-popup*/
#user-login-popup .modal-header .close {
    right: 35px;
    left: auto;
}
/*login-popup*/
/*end global styles******/



/*start media queries***********/
@media screen and (min-width: 768px) { }

@media screen and (max-width: 575px) {
    #login-form .res-box .row {
        right: -5px;
    }
}
/*end media queries***********/