/*start adding property*/
/*start nav tabs*/
.add-property .main-tabs .tab-num {
    margin-right: 10px;
}

.main-tabs.list-details-tab .nav-item a:after {
    left: 12px;
}
/*end nav tabs*/


/*start property page one*/
.add-btn {
    margin-left: 10px;
}

.add-btn i,
.del-btn i {
    margin-right: 5px;
}

.btn.v8.next-btn,
.btn.v8.prev-btn,
.btn.v8.save-btn {
    right: 0;
    float: right;
}

.btn.v8.prev-btn {
    right: 20px;
}

.btn.v8.next-btn i {
    padding-left: 5px;
}

.btn.v8.prev-btn i {
    padding-right: 5px;
    margin-left: 0;
    margin-right: 5px;
}
/*end property page one*/


/*start property page two*/
.filter-checkbox label::before {
    right: auto;
    left: 0;
    margin-left: 0;
    margin-right: 10px;
}

.filter-checkbox label {
    padding-right: 0;
    padding-left: 28px;
    margin-left: 0;
    margin-right: 20px
}
/*end property page two*/


/*start property page three*/
.list-details-tab.lang-tabs .nav-item:first-child {
    margin-left: 0;
}
/*end property page three*/
/*end adding property*/


/*start media queries******/
@media only screen and (max-width: 767px) {
    .list-details-tab.main-tabs li.nav-item:first-child {
        margin-left: 0;
    }

    .list-details-tab.main-tabs .nav-item a:after {
        left: 30px;
    }

    .add-property .main-tabs .tab-num {
        margin-right: 5px;
    }

    .filter-checkbox label {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 576px) {
    #translation .prop-btns {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .del-btn {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 479px) {
    .list-details-tab.main-tabs .nav-item a:after {
        left: 20px;
    }
}

@media only screen and (max-width: 379px) {
    .list-details-tab.main-tabs .nav-item a:after {
        left: 5px;
    }
}
/*end media queries******/