/*start list details hero*/
.heading-details {
    top: -160px;
}

.list-details-title.v1 {
    display: inline;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.single-property-header .overlay {
    position: relative;
    background-color: #37466F;
    opacity: .85;
}

.single-listing-title h2 {
    color: #fff;
}

.single-listing-title .btn.v5 {
    background-color: #F74C55;
    padding: 5px;
    margin: -10px 10px 0;
    border-radius: 20px;
    font-size: 12px;
    text-transform: none;
}

.single-listing-title p {
    display: table;
    background-color: #6495FE;
    padding: 7px 15px;
    border-radius: 20px;
}

.single-listing-title p,
.single-listing-title p i,
.single-listing-title .property-author span,
.trend-open p {
    color: #fff;
}

.single-listing-title .property-author {
    display: block;
}

.trend-open p span {
    color: #ddd;
}

.list-details-title .btn.v2 {
    background-color: #6495FE;
    padding: 5px 5px 0;
}

#gallery .product-images h4,
.list-details-section h4,
#book_tour .section-title.v2 p {
    color: #37466F;
}

.list-details-title .trend-open {
    margin-bottom: 10px;
}

.list-details-title .btn.v2:hover {
    background-color: #fff;
    border: 1px solid  #6495FE;
}

.list-details-title .btn.v2:hover i {
    color: #6495FE;
}

.list-btn li a i {
    font-size: 18px;
}
/*end list details hero*/


/*start list details info*/
.list-details-tab .nav-item.active a {
    color: #6495FE;
}

.list-details-tab .nav-item:after {
    background: #6495FE;
}

.list-details-tab.fixed_nav {
    width: 100% !important;
}

/*gallery*/
#gallery {
    padding-bottom: 0 !important;
}

#gallery .product-images {
    width: 100%;
    margin: 0 auto 30px !important;
    border: none;
    background-color: #fff;
    padding: 35px 35px 0;
}

#gallery .mx-auto {
    padding: 0;
}

#gallery .product-images img {
    width: 100%;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
    z-index: 100;
    font-size: 2.5em;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    background-color: #fff !important;
    color: #B7B7B7 !important;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    opacity: .3;
    transition: opacity .25s;
    cursor: pointer;
}

.slick-slider .slick-next i,
.slick-slider .slick-prev i {
    position: relative;
    top: -8px;
    color: #2b2b2b;
    font-size: 18px;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
    opacity: .65;
}

#gallery .product-images li,
#gallery .product-images figure,
#gallery .product-images a,
#gallery .product-images img {
    display: block;
    outline: none;
    border: none;
}

#gallery .product-images .main-img-slider figure {
    margin: 0 auto;
    padding: 0 2em;
}

#gallery .product-images .main-img-slider figure a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

#gallery .product-images .main-img-slider figure a img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#gallery .product-images .thumb-nav {
    margin: 0 auto;
    padding: 10px 0;
}

#gallery .product-images .thumb-nav.slick-slider .slick-arrow {
    top: -200px;
}

.slick-initialized .slick-slide {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#gallery .product-images .thumb-nav li {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#gallery .product-images .thumb-nav li img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid transparent;
    -webkit-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -moz-transition: border-color .25s;
    transition: border-color .25s;
}
/*gallery*/


/*details*/
.top-icons {
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-icons .det-item {
    padding: 0;
    text-align: center;
}

.top-icons .details-title,
.top-icons .details-desc {
    font-weight: bold;
}

.top-icons .details-title {
    color: #6495FE;
}

.top-icons .details-desc {
    color: #37466F;
}

/*moon-icon*/
.moon-icon {
    display: inline-block;
    font-size: 16px;
}

.moon-icon::before {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.moon-icon:hover::before {
    color: #37466F;
}

/*information*/
.tooltip > .tooltip-inner {
    background-color: #6495FE !important;
}

.bs-tooltip-top .arrow::before {
    border-top-color: #6495FE !important;
}

.info-icons .info-item {
    margin-bottom: 10px;
}

.list-details-section h4.comfort {
    margin-bottom: 0;
}

.comfort-det {
    font-size: 16px;
}

.list-details-section .widget-title {
    margin-bottom: 10px;
    margin-top: 30px;
    color: #37466F;
}

.list-details-section .widget-title.nearby-h {
    color: #6495FE;
    font-weight: bold;
    margin-bottom: 20px;
}

/*map*/
#description {
    position: relative;
}

#description h4,
#description .view-map {
    display: inline-block;
}

#description .view-map {
    position: absolute;
    right: 0;
    left: auto;
    padding: 0 35px;
}

#description .view-map-link,
#description .view-map i {
    color: #6495FE;
}

.contact-map.v2 #map_right_listing {
    margin-top: 0;
}

/*video*/
a.popup-yt {
    background: #F74C55;
}

a.popup-yt i {
    color: #fff;
}

.hvr-ripple-out:before,
.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
    border: none;
}

/*plans*/
#accordion10 .card {
    border: none;
}

#accordion10 .card .card-header {
     border: 1px dashed #C1C1C1;
     margin-bottom: 10px;
 }

#accordion10 .card .card-header i {
    color: #C1C1C1;
    font-size: 14px;
}

a[aria-expanded="true"] i:before {
    content: "\f068";
}

.list-details-section .card a p {
    color: #C1C1C1;
}

/*table*/
.table-wrapper {
    position: relative;
}

.table-scroll {
    overflow: auto;
}

.table-bordered thead th {
    color: #ddd;
    font-weight: bold;
}

.table-bordered td {
    width: 100px;
}

.table-bordered thead th.table-first {
    vertical-align: middle;
    background-color: #37466F;
}

.table-bordered thead th.area-heading,
.table-bordered thead th.price-heading {
    background-color: #6495FE;
}

.table-bordered tr.odd {
    background-color: #F6F7F9;
}

/*similar listing*/
.similar-listing-wrap .section-title-container {
    text-align: center;
}

.similar-listing-wrap .section-title-container .section-title.v2 p {
    color: #37466F;
    font-size: 24px;
    font-weight: bold;
}

.similar-listing {
    margin-top: 0 !important;
    padding: 0 15px;
}

.slider-btn.v2 {
    z-index: 99;
}

.section-title.v2 h2 {
    color: #5277A3;
}
/*end list details info*/


/*start booking form*/
.listing-sidebar .widget {
    padding: 10px 20px;
}

#book_tour .section-title-container {
    text-align: center;
}

#book_tour .section-title.v2 p {
    visibility: visible !important;
    margin: 0 auto 7px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

#book_tour .filter-input,
#datepicker-from input,
#book_tour .select2 .selection .select2-selection .select2-selection__rendered,
.contact-form__textarea {
    background-color: #FAFAFA !important;
    text-align: center;
    font-size: 16px;
}

#book_tour .input-group.date,
#book_tour .filter-input {
    margin-bottom: 15px;
}

#book_tour .select2.select2-container {
    margin: 0 0 35px !important;
}

.contact-form__textarea {
    margin-top: 0 !important;
    height: 45px;
}

#book_tour .btn.v3 {
    width: 100%;
    background-color: #6495FE;
    border: 1px solid #6495FE;
    font-size: 18px;
    margin-bottom: 20px;
}

#book_tour .btn.v3:hover {
    background-color: #fff !important;
    color: #6495FE !important;
}
/*end booking form*/




/*start media queries***********/
@media screen and (max-width: 991px) {
    .top-icons {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .top-icons .det-item {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .similar-listing-wrap .section-title-container {
        margin-top: 80px !important;
    }

    .side-mob-icn {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #gallery .product-images {
        width: 100%;
        margin: 0 auto 30px !important;
        border: none;
        background-color: #fff;
        padding: 35px 15px 0;
    }

    #booking {
        position: fixed;
        top: 160px !important;
        right: 0;
        left: 0;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .hide-booking {
        opacity: 0;
        z-index: -99 !important;
    }

    .show-booking {
        opacity: 1;
        z-index: 9999 !important;
    }

    .single-property-details.v1 {
        margin-top: 30px !important;
    }

    .top-icons .det-item {
        width: 33.3333%;
    }

    .contact-map.v2 #map_right_listing {
        height: 400px;
    }

    /*side-mobile-icn*/
    .side-popup {
        position: fixed;
        bottom: 30px;
        display: block;
        border: 1px solid transparent;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        z-index: 99999 !important;
        width: 55px;
        height: 55px;
        background: #fff;
        text-align: center;
        -moz-animation: float 1500ms infinite ease-in-out;
        -webkit-animation: float 1500ms infinite ease-in-out;
        animation: float 1500ms infinite ease-in-out;
    }

    .side-popup i {
        color: #6495FE;
        font-size: 28px;
        line-height: 1.7;
    }
}

@media screen and (max-width: 575px) {
    .single-property-header {
        height: 100vh;
        margin-top: 0 !important;
    }

    .single-property-header .heading-details {
        top: -280px;
    }

    .list-details-title.v1 {
        -webkit-transform: translateY(130px);
        -ms-transform: translateY(130px);
        transform: translateY(130px);
    }

    .list-details-tab.fixed_nav {
        width: 100% !important;
        padding: 0 15px;
    }

    .slick-slider .slick-prev,
    .slick-slider .slick-next {
        width: 30px;
        height: 30px;
        opacity: .7;
    }

    .slick-slider .slick-next i,
    .slick-slider .slick-prev i {
        top: -16px;
        font-size: 14px;
    }

    /*mobile booking style*/
    #booking {
        top: 100px !important;
    }

    #book_tour .list-details-title {
        font-size: 16px;
    }

    #book_tour .input-group.date,
    #book_tour .filter-input,
    #booking textarea {
        margin-bottom: 10px;
    }

    #booking input,
    #booking textarea {
        height: 35px;
    }

    #datepicker-from input {
        padding: 10px 20px;
    }

    #book_tour .contact-form__textarea {
        margin-bottom: 15px !important;
    }

    #book_tour .contact-form__textarea,
    #book_tour .btn {
        line-height: 1;
    }

    #book_tour .btn {
        margin-bottom: 5px !important;
    }
    /*mobile booking style*/

    .top-icons .det-item {
        padding-left: 5px;
        padding-right: 5px;
    }

    .top-icons .det-item span {
        font-size: 10px;
    }

    .comfort-det {
        font-size: 13px;
    }
}

@media screen and (max-width: 379px) {
    .single-listing-title .btn.v5 {
        margin: 0 0 10px;
    }
}
/*end media queries***********/