/*start contact style*/
.contact-info-item .phone-num {
    direction: ltr;
}

.contact-details .social-buttons li:first-child {
    padding-left: 10px;
}

.contact-map.v1 {
    direction: ltr;
    left: auto;
    right: 0;
}
/*end contact style*/