/*start account styles*/
body {
    background-color: #fff;
}

.content-back,
.login-wrapper {
    background-color: #F5F6F8;
}

.content-back {
    border: 1px solid #C1C1C1;
    padding: 10px 25px;
}

#forget-password .content-back {
    padding: 40px 25px;
}

#register-accounts,
#forget-password {
    padding: 100px 0;
}

.small-head,
.page-head {
    text-align: center;
    margin: auto;
}

.page-head {
    color: #37466F !important;
}

.small-head {
    margin-bottom: 20px;
}

.small-head a {
    color: #888;
}

.small-head span {
    margin: 0 10px;
}

.small-head a:hover {
    color: #6393FB;
}

.user-login-section .nav-tabs .nav-link {
    text-transform: none;
}

.user-login-section .nav-tabs .nav-link.active {
    color: #6393FB;
}

.user-login-section .nav-tabs .nav-link.active:before {
    content: "";
    position: absolute;
    top: 45px;
    width: 100px;
    height: 1px;
    background-color: #6393FB;
}

.form-container {
    margin: auto;
}

.form-control {
    background-color: #fff;
    border: 1px solid #DCDCDC;
}

.res-box .btn {
    margin-bottom: 20px !important;
}

#forget-password .res-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form-group .add-btn {
    margin-top: 20px;
}

.add-btn .btn.v3 {
    background: #6393FB;
    margin-bottom: 10px;
}

.btn.v8 {
    width: auto;
    margin: 0 10px;
    padding: 5px 10px;
}

.sign-up-btn,
.save-btn {
    background-color: #6393FB !important;
}

.add-btn .btn.v3:hover,
.sign-up-btn:hover,
.save-btn:hover {
    background-color: #fff !important;
    color: #6393FB !important;
    border: 1px solid #6393FB !important;
}

.back-btn {
    background-color: #fff !important;
    color: #37466F !important;
    border-bottom: 1px solid #6393FB !important;
}

.account-details,
.account-status
{
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    width: 480px;
}

.account-details {
    padding: 40px;
}

.account-details,
.account-details img,
.account-details span {
    margin-bottom: 20px;
}

.account-details span,
.account-details h2 {
    color: #303030;
}

.account-status {
    background-color: #F6F7F9;
    border: 1px solid #C1C1C1;
    padding: 10px 40px;
}

.account-details i,
.account-status i {
    color: #6393FB;
}

.account-details p {
    margin-bottom: 20px;
}

.account-status p {
    display: inline-block;
}

.account-details span {
    color: #8B8B8B;
}
/*end account styles*/


/*start media queries***********/
@media screen and (min-width: 1200px) {
    .user-login-section {
        padding-top: 150px !important;
    }
}

@media screen and (max-width: 1199px) {
    .account-details{
        width: auto;
    }

    .account-status {
        width: 328px;
    }
}

@media screen and (max-width: 991px) and (min-width: 576px) {
    .user-login-section {
        padding-top: 170px !important;
    }
}

@media screen and (max-width: 991px) {
    .account-details span {
        font-size: 14px;
    }

    .account-details img {
        width: 100px;
    }
    .account-details h3 {
        font-size: 18px;
    }

    .account-status {
        width: 314px;
    }
}

@media screen and (min-width: 768px) {
    .user-acc,
    .seller-acc {
        top: -60px;
    }
}

@media screen and (max-width: 767px) {
    #register-accounts,
    #forget-password {
        padding: 100px 20px 50px;
    }

    #register-accounts .container,
    #forget-password .container {
        border: 1px solid #C1C1C1;
        border-radius: 4px;
    }

    .page-head {
        font-size: 20px;
    }

    .user-acc,
    .seller-acc {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .user-login-section {
        padding-top: 100px !important;
    }

    .user-login-section .nav-tabs .nav-link {
        font-size: 16px;
    }
}
/*end media queries***********/
