/*start contact*/
.hero__form.v3 {
    float: left;
}
/*end contact*/


/*start popular cities*/
.popular-place-wrap.v2 .single-place-content {
    left: 25%;
    right: auto;
}
/*end popular cities*/



/*start of media queries*************/
@media screen and (min-width: 992px) {
    .value-calculator-section.v1:before {
        left: auto;
    }

    .download-section .down-content {
        left: -8vw;
    }

    .download-section .download-img-box {
        right: -8vw;
    }
}

@media screen and (min-width: 768px) {
    .download-section .down-head {
        text-align: left;
        padding-left: 75px;
    }
}
/*end of media queries*************/